
 <!--  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group-Chat</title>
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="./chat.css">
</head>
<body>
    <div class="nav-div">
        <div class="nav-user-div"><img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"><h2 id="username">Rahul</h2></div>
          <div class="logout-div">
            <button id="logout" type="button">LogOut</button>
          </div>
    </div>
    <div class="container-div">
        <div class="chat-container-div">

            <div class="notification-div">
              <h4 class="notfification">You joined!</h4>
            </div>

            <div class="notification-div">
              <h4 class="notfification">Shrey joined!</h4>
            </div>

            <div class="msg-div">
              <div class="resize-received">
                <div class="received">
                <p class="received-name">Shrey</p>
                <p class="received-msg">Hey</p>
                <p class="received-time">7:00pm</p>
            </div>
              </div>
            </div>

            <div class="msg-div">
              <div class="sent">
                <p class="sent-name">You</p>
                <p class="sent-msg">Hello Bro</p>
                <p class="sent-time">7:15pm</p>
               
              </div>
            </div>

            <div class="msg-div">
                <div class="resize-sent">
              <div class="sent">
                <p class="sent-name">You</p>
                <p class="sent-msg">How are you?</p>
                <p class="sent-time">10:01pm</p>
               
              </div>
            </div>
            </div>

            <div class="msg-div">
                <div class="resize-received">
                <div class="received">
                  <p class="received-name">Shrey</p>
                  <p class="received-msg">Good! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, voluptates quod ratione obcaecati accusantium ipsa error, perspiciatis eum aliquam culpa molestias, vero sunt magnam maxime quos eligendi ab non! Ducimus?</p>
                  <p class="received-time">10:02pm</p>
                </div>
            </div>
            </div>
        </div>

    </div>
    <div>
        <form>
            <input type="text">
            <input type="submit" value="submit">

            <input type="text">
            <button type="submit">send</button>

            
        </form>
    </div>
  



    *************************
    <div class="conversation">
                <div class="conversation-container">
                </div>
                <form class="conversation-compose">
                  <div class="emoji">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="smiley" x="3147" y="3209"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.153 11.603c.795 0 1.44-.88 1.44-1.962s-.645-1.96-1.44-1.96c-.795 0-1.44.88-1.44 1.96s.645 1.965 1.44 1.965zM5.95 12.965c-.027-.307-.132 5.218 6.062 5.55 6.066-.25 6.066-5.55 6.066-5.55-6.078 1.416-12.13 0-12.13 0zm11.362 1.108s-.67 1.96-5.05 1.96c-3.506 0-5.39-1.165-5.608-1.96 0 0 5.912 1.055 10.658 0zM11.804 1.01C5.61 1.01.978 6.034.978 12.23s4.826 10.76 11.02 10.76S23.02 18.424 23.02 12.23c0-6.197-5.02-11.22-11.216-11.22zM12 21.355c-5.273 0-9.38-3.886-9.38-9.16 0-5.272 3.94-9.547 9.214-9.547a9.548 9.548 0 0 1 9.548 9.548c0 5.272-4.11 9.16-9.382 9.16zm3.108-9.75c.795 0 1.44-.88 1.44-1.963s-.645-1.96-1.44-1.96c-.795 0-1.44.878-1.44 1.96s.645 1.963 1.44 1.963z" fill="#7d8489"/></svg>
                  </div>
                  <input class="input-msg" name="input" placeholder="Type a message" autocomplete="off" autofocus></input>
                  <div class="photo">
                    <i class="zmdi zmdi-camera"></i>
                  </div>
                  <button class="send">
                    <div class="circle">
                      <i class="zmdi zmdi-mail-send"></i>
                    </div>
                  </button>
                </form>
              </div>
            </div>
          </div>
   
</body>
</html>
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WhatsApp</title>
  <link rel="stylesheet" href="./chat.css">
  <script src="./chat.js"></script>

  <meta name="theme-color" content="#054d44">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1">

 
</head>
<body>
  <div class="page">
    
        <div class="screen-container">

          <div class="chat">
            <div class="chat-container">
              <div class="user-bar">
                <div class="back">
                  <i class="zmdi zmdi-arrow-left"></i>
                </div>
                <div class="avatar">
                  <img src="https://scontent.fpnq1-1.fna.fbcdn.net/v/t39.30808-1/311467854_1755002154857501_7419641158350127624_n.jpg?stp=dst-jpg_p240x240&_nc_cat=107&ccb=1-7&_nc_sid=7206a8&_nc_ohc=HIDYQgzRUiUAX9kL043&_nc_ht=scontent.fpnq1-1.fna&oh=00_AfCK-NL5iIwrkffFEigqn6B0QfjGhwum1b2SsRsKo1CvgQ&oe=636CF937" alt="Avatar" width="36" height="36">
                </div>
                <div class="name">
                  <span>Iliyas</span>
                  <span class="status">online</span>
                </div>

                <div class="logout-div">
                    <button id="logout" type="button">LogOut</button>
                  </div>
                
              </div>



              <div class="left">
                <div class ='create-group'>
                  <form id="form-group">
                    <div >
                      <input type="text" name="groupname" class="groupName" autocomplete="off">
                      <input type="submit" value="+" class="add-btn">
                    </div>
                  </form>
                </div>
                <div class="groups" style="border-right: 1px solid #373f44;" id="group">
                  <div style="width:100%;color:white" class="group-style">
                    <button class="user-btn">User 1</button>
                    <button class="add-user">+</button>
                    <button class="remove-user">-</button>
                    <button class="delete-group">r</button>
                  </div>
                </div>
        
              </div>

              

              <div class="notification-div">
                <h4 class="notfification">You joined!</h4>
              </div>
  
              <div class="notification-div">
                <h4 class="notfification">Shrey joined!</h4>
              </div>
            <div class="chat-container-div">  
              <div class="msg-div">
                <div class="resize-received">
                  <div class="received">
                  <p class="received-name">Shrey</p>
                  <p class="received-msg">Hey</p>
                  <p class="received-time">7:00pm</p>
              </div>
                </div>
              </div>
  
              <div class="msg-div">
                <div class="sent">
                  <p class="sent-name">You</p>
                  <p class="sent-msg">Hello Bro</p>
                  <p class="sent-time">7:15pm</p>
                 
                </div>
              </div>
  
              <div class="msg-div">
                  <div class="resize-sent">
                <div class="sent">
                  <p class="sent-name">You</p>
                  <p class="sent-msg">How are you?</p>
                  <p class="sent-time">10:01pm</p>
                 
                </div>
              </div>
              </div>
  
              <div class="msg-div">
                  <div class="resize-received">
                  <div class="received">
                    <p class="received-name">Shrey</p>
                    <p class="received-msg">Good! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, voluptates quod ratione obcaecati accusantium ipsa error, perspiciatis eum aliquam culpa molestias, vero sunt magnam maxime quos eligendi ab non! Ducimus?</p>
                    <p class="received-time">10:02pm</p>
                  </div>
              </div>
              </div>
              </div>

              <div >
                <form onsubmit="Send(event)" class="style-form" id ="chat-form">
                    <input type="text" name="message" placeholder="Type something ...." autocomplete="off">
                    <input type="submit" value="send" >
                </form>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js" ></script>
            </div>
          </div>
  
      </div>
      <div>

        <script>
            function Send(event){
                const token = localStorage.getItem('token');
                let groupId = localStorage.getItem('groupId');
                console.log(groupId);
                let name = localStorage.getItem('name');

                event.preventDefault();
                const message = event.target.message.value;
              console.log(message);
                const obj = {
                    message
                }

                //console.log(msg);
                axios.post(`http://localhost:7000/message/allMsg/${groupId}`, obj, {headers:{"Authorization" : token}})
                .then((response)=>{
                    console.log('*******************');
                    console.log(response);
                    if(response.status === 200){
                        console.log(response.data);
                        
                        event.target.message.value ='';
                        console.log(response);
                        //showOnScreen(message);
                        
                        //saveToLocal(response.data);

                    }
                }).catch(err=>console.log(err));
            }


            window.addEventListener('DOMContentLoaded', async(event)=>{
              event.preventDefault();
              const token = localStorage.getItem('token');
              const groupId = localStorage.getItem('groupId');
              console.log('---------------------');
              console.log(groupId);
              const groupName = localStorage.getItem('groupName');
              let lastId;

              getMessage(groupId);
              getUsers(groupId);


              

/*
              const messages = JSON.parse(localStorage.getItem('msg')); //converts into obj

              if(messages == undefined || messages.length == 0){
                lastId =0;
              }
              else{
                lastId = messages[messages.length-1].id;
              }

*/
             // const User = localStorage.getItem('name');

              //let LastId;
             // let chatArray = [];
              //console.log(`${new Date().getHours()}:${new Date().getMinutes()}`)

           /*   const token =  localStorage.getItem('token');
              setInterval(async()=>{
                try{
                let response = await axios.get("http://localhost:7000/user/getMsg", {headers:{"Authorization" : token}})
                console.log(response);
                if(response.status === 200){
                  showChatsOnScreen(response.data, response.data.username);
                }

              }
              catch(error){
                console.log(error);

              }


              },1000);*/


              /*
              try{


                let response = await axios.get(`http://localhost:7000/message/getMsg?msg=${lastId}`, {headers:{"Authorization" : token}})
                console.log(response);

                var newArr = response.data.messagestosend;
                saveToLocal(newArr , response.data.username);
                if(response.status === 200){
                 // showChatsOnScreen(response.data, response.data.username);
                }

              }
              catch(error){
                console.log(error);

              }
*/
            })

            function saveToLocal(arr){
              let groupId = localStorage.getItem('groupId')
              console.log('999999999999');
              console.log(groupId);

              let chatArray = [];
              let oldMessages = JSON.parse(localStorage.getItem(`msg${groupId}`));
              console.log(oldMessages);

              if(oldMessages == undefined || oldMessages.length ==0){
                chatArray = chatArray.concat(arr)
              }
              else{
                chatArray = [];
                chatArray = chatArray.concat(oldMessages,arr);
              }
              console.log(typeof(chatArray));
              let parseChat = JSON.stringify(chatArray)
              console.log(typeof(parseChat));
             // console.log(chatArray);
             // console.log(typeof(chatArray))
            //  JSON.stringify(chatArray);
             // console.log(typeof(chatArray));
           //  JSON.parse(chatArray);
             //console.log(typeof(chatArray));
              //localStorage.setItem('msg', chatArray)
              //localStorage.setItem('msg', JSON.parse(chatArray))
            localStorage.setItem(`msg${groupId}` , parseChat)
             console.log('0000');
             console.log(localStorage.getItem(`msg${groupId}`))
             //console.log(check);
              console.log((JSON.parse(localStorage.getItem(`msg${groupId}`))).length)
              showChatsOnScreen();


            }


            async function getMessage(groupId){
              console.log('{{{{{{{{{{{{{{{');
              console.log(groupId);
              const token = localStorage.getItem('token');
             
              let lastId;
              
              const messages = JSON.parse(localStorage.getItem(`msg${groupId}`)); //converts into obj

              if(messages == undefined || messages.length == 0){
                lastId =0;
              }
              else{
                lastId = messages[messages.length-1].id;
              }

              try{
                let response = await axios.get(`http://localhost:7000/message/getMsg/${groupId}?msg=${lastId}`, {headers:{"Authorization" : token}})
                console.log('77777');
                console.log(response.data.arr);
              //  var newArr = response.data.arr
                 saveToLocal(response.data.arr);



              }
              catch(error){
                console.log(error);
              }




            }




            function showChatsOnScreen(){
             // console.log('inside show on scree: '+ name);
//              localStorage.setItem('name', name)
              let name = localStorage.getItem('name');
              let groupId= localStorage.getItem('groupId')

              let chatArray = localStorage.getItem(`msg${groupId}`)
              console.log('....................');
              console.log(chatArray);
              let newChatArray =  JSON.parse(chatArray)
              console.log(newChatArray);
              let chatContainer = document.querySelector('.chat-container-div')
              chatContainer.innerHTML = "";
            /*  for(let i=0; i<chatArray.length ; i++){
                let child = `<div class= "message-div" >
                              <div class= "resize-sent">
                                  <div class= "sent" id=${chat.id}>
                                    <p class="sent-name">${name}</p>
                                    <p class="sent-msg">${chat.message}</p>
                                    <p class="sent-time">${chat.createdAt.split('T')[1].slice(0,5)}</p>
                                  
                                    </div>
                              </div>
                           </div>
                              `
                  chatContainer.innerHTML += child; 
              }*/

              newChatArray.forEach(chat => {
                console.log(chat);

                if(name == chat.name){
                  let child = `<div class= "message-div" >
                              <div class= "resize-sent">
                                  <div class= "sent" id=${chat.id}>
                                    <p class="sent-name">${chat.name}</p>
                                    <p class="sent-msg">${chat.message}</p>
                                    <p class="sent-time">${chat.createdAt.split('T')[1].slice(0,5)}</p>
                                  
                                    </div>
                              </div>
                           </div>
                              `
                  chatContainer.innerHTML += child;

                }
                else{

                  let child = `<div class="msg-div">
                                  <div class="resize-received">
                                    <div class="received" id=${chat.id}>
                                      <p class="received-name">${chat.name}</p>
                                      <p class="received-msg">${chat.message}</p>
                                    
                                    </div>
                                  </div>
                                </div>`

                   chatContainer.innerHTML += child



                }


                
                
              });
              //document.getElementById(`${lastId}`).scrollIntoView()
             /* data.data.forEach(chat => {
                showChat(chat, name);
                  <p class="sent-time">${new Date().getHours()}:${new Date().getMinutes()}</p>
              });*/
            }


            async function getUsers(groupId){
              const token = localStorage.getItem('token');

              try {
                    console.log('sdfsdfsdfsdfsdfsdf')
                    let response =  await axios.get(`http://localhost:7000/group/fetchusers/${groupId}`  , {headers:{"Authorization" : token}})
                    console.log(response.data);

                    response.data.forEach( data => addGroupUsersToScreen(data))
                } catch (err) {
                  console.log(err);

                }

            }

            function addGroupUsersToScreen(data){
              let userParent = document.getElementById('group');
                      let child = `<div style="width:100%;color:white" class="group-style">
                      <button class="user-btn">${data.name}</button>
                      <button class="add-user" >+</button>
                      <button class="remove-user">-</button>
                      <button class="delete-group">r</button>
                    </div>`
                    userParent.innerHTML += child
                
                  }


      /*      function showChat(chat , name){
              let chatContainer = document.querySelector('.chat-container-div')
              let child = `<div class= "message-div" >
                              <div class= "resize-sent">
                                  <div class= "sent">
                                    <p class="sent-name">${name}</p>
                                    <p class="sent-msg">${chat.message}</p>
                                    <p class="sent-time">${chat.createdAt.split('T')[1].slice(0,5)}</p>
                                    <p class="sent-time">${new Date().getHours()}:${new Date().getMinutes()}</p>
                                    </div>
                              </div>
                           </div>`
                  chatContainer.innerHTML += child;

            }*/

      /*      function showOnScreen(chat){
              let name = localStorage.getItem('name')
              let chatContainer = document.querySelector('.chat-container-div')
              let child = `<div class= "message-div" >
                              <div class= "resize-sent">
                                  <div class= "sent">
                                    <p class="sent-name">${name}</p>
                                    <p class="sent-msg">${chat.message}</p>
 
                                    <p class="sent-time">${new Date().getHours()}:${new Date().getMinutes()}</p>
                                    </div>
                              </div>
                           </div>`
                  chatContainer.innerHTML += child;

            }*/




        </script>

              
        </div>
      </div>
    </div>
  </div>




</body>
</html>
